# Ambiente virtual
.venv/
venv/
env/

# Python
__pycache__/
*.py[cod]
*$py.class

# Banco de dados
db.sqlite3
db.sqlite3-journal

# Variáveis de ambiente
.env
.env.*

# Django
media/
staticfiles/

# Logs
*.log
logs/

# IDEs
.vscode/
.idea/

# Sistema operacional
.DS_Store
Thumbs.db

# Testes
.coverage
htmlcov/
.pytest_cache/

# Distribuição
build/
dist/
*.egg-info/

# Arquivos temporários
*.tmp
*.bak